body{
    box-sizing: border-box;
    position: relative;
}

a{
    color: white;
}

.text-orange{
    color: #FF6934;
}

header{
    background-color: #343535;
    position: sticky;
    top: 0;

    .container-fluid{
        img{
            width: 140px;
        }

        .right{
            
            ul{
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                gap: 40px;
                list-style-type: none;
                background-color: #343535;

                li{
                    a{
                        text-decoration: none;
                        color: white;
                    }
                }
            }

            button{
                display: none;
                color: #FF6934;
            }
        }
        
    }
}

@media screen and (max-width: 790px) {
    header{
        .right{
            
            ul{
                position: fixed;
                right: 0;
                top: 70px;
                width: 50%;
                height: 100vh;
                display: flex;
                align-items: space-around;
                justify-content: space-around;
                flex-direction: column;
                gap: none;
                transform: translateX(100%);       
                transition: 0.5s;         
            }
            
            button{
                display: inline-block !important;
            }
    
        }

    }
}

.show{
    transform: translateX(0) !important;
}

#searchSection {
    background-color: #3A3C3C;

    .container-fluid{
        form{
            background-color: white;
            height: 50px;
            border-radius: 7px;
            overflow: hidden;
            input{
                height: 100%;
                border-radius: 7px;
                outline: none;
                border: none;
            }
            button{
                height: 100%;
                border: none;
                background-color: white;
                font-size: 24px;
            }
        }
    }

    a{
        text-decoration: none;
    }
}

#cdns{
    background-color: #454647;
    .container {
        .box{
            background-color: #343535;
            color: white;
           p{
            word-break: break-all; 
           }
        }
    }
}


.btn{
    &:hover{
        color: #FF6934;
    }
}
